/* font-family: "FregatRegular"; */
@font-face {
  font-family: "FregatRegular";
  src: url("../fonts/FregatRegular/FregatRegular.eot");
  src: url("../fonts/FregatRegular/FregatRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/FregatRegular/FregatRegular.woff") format("woff"),
  url("../fonts/FregatRegular/FregatRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "FregatBold"; */
@font-face {
  font-family: "FregatBold";
  src: url("../fonts/FregatBold/FregatBold.eot");
  src: url("../fonts/FregatBold/FregatBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/FregatBold/FregatBold.woff") format("woff"),
  url("../fonts/FregatBold/FregatBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
//
// Styles
// ------------------------------------

@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

$use-flexbox:               false!default;
$use-adaprive:              false!default;

// Variables
@import "_variables";

// Util
@import "utils/_glob";


// Util
//@import "utils/_base";
//@import "utils/_border-radius";
//@import "utils/_buttons";
//@import "utils/_clearfix";
//@import "utils/_forms";
//@import "utils/_grid"; // Choose one of them. Float-grid or flex-grid?
////@import "utils/_grid-flex"; // Choose one of them. Float-grid or flex-grid?
//@import "utils/_navbar";
//@import "utils/_tab-focus";
//@import "utils/_table";
//@import "utils/_transition";
//@import "utils/_typography";
//@import "utils/_utilities";

// Base
//@import "base/_glob";

// Components
//@import "components/_glob";

// Layout
@import "layout/glob";

// Pages
@import "pages/glob";

// Themes
@import "themes/glob";

// Vendors
@import "vendors/glob";

