aside.page-sidebar-wrapper
    .page-sidebar
        nav.navbar(role='navigation')
            .logo.text-center
                a(href="#")
                    img(src="images/logo.png", alt="Alchemy")
            ul.nav.navbar-nav.nav-stacked
                li
                    a(href='javascript:;')
                        i.fa.fa-home.fa-lg
                        | Основная панель
                li.has-sub
                    a(href='javascript:;')
                        i.fa.fa-file.fa-lg
                        | Контент
                        span.arrow
                    ul.sub.list-unstyled
                        li
                            a(href='#') Товары
                        li
                            a(href='#') Связи товаров
                        li
                            a(href='#') Динамические характеристики
                        li
                            a(href='#') Справочники
                li.has-sub
                    a(href='javascript:;')
                        i.fa.fa-cubes.fa-lg
                        | Каталог
                        span.arrow
                    ul.sub.list-unstyled
                        li
                            a(href='#') Товары
                        li
                            a(href='#') Связи товаров
                        li
                            a(href='#') Динамические характеристики
                        li
                            a(href='#') Справочники
                li.has-sub
                    a(href='javascript:;')
                        i.fa.fa-lg.fa-shopping-cart
                        | Интернет-магазин
                        span.arrow
                    ul.sub.list-unstyled
                        li
                            a(href='#') Товары
                        li
                            a(href='#') Связи товаров
                        li
                            a(href='#') Динамические характеристики
                        li
                            a(href='#') Справочники
                li.has-sub
                    a(href='javascript:;')
                        i.fa.fa-cogs.fa-lg
                        | Настройки
                        span.arrow
                    ul.sub.list-unstyled
                        li
                            a(href='#') Товары
                        li
                            a(href='#') Связи товаров
                        li
                            a(href='#') Динамические характеристики
                        li
                            a(href='#') Справочники
                li
                    a(href='javascript:;')
                        i.fa.fa-folder-open.fa-lg
                        | Файл-менеджер
        .copy.text-center
            p.text-info Разработано в&nbsp;
                a.text-info(href="http://www.alkodesign.ru", target="_blank") AlkoDesign