aside.page-sidebar-wrapper
    .page-sidebar.navbar-collapse.collapse
        nav.navbar(role='navigation')
            .logo.text-center
                img(src="images/logo.png", alt="logo")
            ul.nav.navbar-nav.nav-stacked
                li
                    a(href='#') Основная панель
                li
                    a(href='#') Контент
                li
                    a(href='#') Каталог
        .copy.text-center
            p Разработано в&nbsp;
                a(href="http://www.alkodesign.ru", target="_blanc") AlkoDesign