extends layouts/_default

block content

    - var title = { description: 'Основная панель' }

    include modules/_header
    include modules/_breadcrumbs
    #main

    //p= index.footer
    include modules/_footer
