extends layouts/_default

block content

    - var title = { description: 'Основная панель' }

    include modules/_header
    include modules/_breadcrumbs
    #main
        .col-xs-4.margbot20
            a(href="#").panel.btn-success.text-center
                p
                    i.fa.fa-file-o.fa-3x.margbot20
                    br
                    | Страницы
        .col-xs-4.margbot20
            a(href="#").panel.btn-green.text-center
                p
                    i.fa.fa-cube.fa-3x.margbot20
                    br
                    | Товары
        .col-xs-4.margbot20
            a(href="#").panel.btn-primary.text-center
                p
                    i.fa.fa-users.fa-3x.margbot20
                    br
                    | Пользователи
        .col-xs-4.margbot20
            a(href="#").panel.btn-danger.text-center
                p
                    i.fa.fa-cube.fa-3x.margbot20
                    br
                    | Ошибка записи логов
        .col-xs-4.margbot20
            a(href="#").panel.btn-warning.text-center
                p
                    i.fa.i.fa.fa-envelope.fa-3x.margbot20
                    br
                    | Почтовый сервер
        .col-xs-4.margbot20
            a(href="#").panel.btn-green.text-center
                p
                    i.fa.i.fa.fa-book.fa-3x.margbot20
                    br
                    | Инструкция
        .col-xs-4.margbot20
            .panel.panel-unlink.btn-default
                .middle-block
                    p
                        span.font-xmd Статистика
                        br
                        span.font-sm за 12.10.2015
                .middle-block.text-right.align-top
                    i.fa.fa-bar-chart.fa-2x
                .text-center
                    p
                        span.font-lg 120193
                        span.font-md  посетителей
                    p
                        span.font-lg 67,13%
                        span.font-md  новые сеансы
        .col-xs-4.margbot20
            .panel.panel-unlink.btn-default
                .middle-block
                    p
                        span.font-xmd Продажи
                        br
                        span.font-sm за 12.10.2015 оформлено
                .middle-block.text-right.align-top
                    i.fa.fa-cart-arrow-down.fa-2x
                .text-center
                    p
                        span.font-xlg 193
                        span.font-lg  заказа
                    p
                        span.font-lg 256193
                        span.font-md  рублей
        .col-xs-4.margbot20
            .panel.panel-unlink.btn-default
                .middle-block
                    p
                        span.font-xmd Хостинг
                .middle-block.text-right.align-top
                    i.fa.fa-database.fa-2x
                .text-center
                    p
                        span.font-sm Хостинг оплачен на
                    p
                        span.font-xlg 93
                        span.font-lg  дня
                    p
                        span.font-sm до 23.12.2015
        .clearfix

    //p= index.footer
    include modules/_footer
