extends layouts/_default

block content

    - var title = { description: 'Основная панель' }

    include modules/_header
    include modules/_breadcrumbs
    #main
        .col-xs-12.text-right
            ul.list-inline
                li
                    a(href="#").btn.btn-primary
                        i.fa.fa-sitemap
                        |  Права
                li
                    a(href="#").btn.btn-success
                        i.fa.fa-user-plus
                        |  Добавить
                li
                    a(href="#").btn.btn-danger
                        i.fa.fa-user-times
                        |  Удалить
        .col-xs-12
            table.table.table-striped.table-hover
                thead
                    tr
                        th ID
                        th.sorting Логин
                            br
                            input.form-control(type="text")
                        th.sorting E-mail
                            br
                            input.form-control(type="email")
                        th Статус
                            br
                            input.form-control(type="text")
                        th Последнее сообщение
                            br
                            input.form-control(type="text")
                        th(colspan="4") &nbsp;
                tbody
                    - for (var x=1; x < 9; x++)
                        tr
                            td #{x}
                            td admin
                            td info@alkodesign.ru
                            td Активный
                            td 2015-10-09 12:34:04
                            td.table-btn
                                a(href="#").btn.btn-info.btn-sm
                                    i.fa.fa-eye
                            td.table-btn
                                a(href="#").btn.btn-success.btn-sm
                                    i.fa.fa-edit
                            td.table-btn
                                a(href="#").btn.btn-danger.btn-sm
                                    i.fa.fa-trash-o
                            td.table-btn
                                a(href="#").btn.btn-warning.btn-sm
                                    i.fa.fa-file-code-o
            .middle-block
                p.text-default Показаны записи
                    b  1-20
                    |  из
                    b  145
            .middle-block.text-right
                include modules/_paginator
        .clearfix

    //p= index.footer
    include modules/_footer
